<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LayoutIndex.css">
    <link rel="stylesheet" href="~/Pagina.styles.css" />
</head>
<body id="bootstrap-overrides">
    <header class="position-relative">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand nav-title-prop" asp-area="" asp-page="/Index">@Model.MesajBunVenit, @Model.Nume!</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-obiect nav-link" asp-area="" asp-page="#">Forum</a>
                        </li>
                 


                       <li class="nav-item dropdown">
                            <a class="nav-obiect nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"  asp-area="" asp-page="#">Universitati</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                @foreach (var university in Model.UniversityList)
                                {
                                    <li>
                                        <a class="dropdown-item nav-obiect"
                                           asp-page="./GenerarePaginaUniversitate/FacultatiUniversitate"
                                           data-university-name="@university.Name">
                                            @university.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>



                        <li class="nav-item"> 
                            <a class="nav-obiect nav-link" asp-area="" asp-page="/MaterialeleMele/MaterialeleMele">Materialele mele</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted position-relative footer">
        <div class="container">
            &copy; 2024 - AlexB - <a class="footer-logout"  asp-area="" asp-page="/AccesingPages/Login/LoginPagina">Delogare</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.querySelectorAll('.dropdown-item.nav-obiect').forEach(item => {
            item.addEventListener('click', event => {
                const universityName = event.target.getAttribute('data-university-name');
                console.log(universityName); // Afișează numele universității în consolă
                fetch('/University/Action', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ universityName: universityName })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
